.swiper {
  width: 100%;
  height: 100vh;
  max-height: 100%;
}
.swiper-pagination {
  right: 40px !important;

  .swiper-pagination-bullet {
    background: transparent;
    color: $white;
    font-size: 2rem;
    font-weight: bold;
    opacity: 1;
    margin-bottom: 15px !important;
    position: relative;
    &.swiper-pagination-bullet-active::after {
      content: "";
      display: block;
      width: 20px;
      background-color: $white;
      height: 4px;
      position: absolute;
      right: -40px;
      bottom: -5px;
    }
  }
}

.swiper-slide img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
