@mixin font-face($font-name, $font-path, $font-weights, $font-style: normal) {
  @font-face {
    font-family: "#{$font-name}";
    src: unquote("url('#{$font-path}') format('truetype')");
    font-weight: $font-weights;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin breakpoints($point) {
  @if $point == lg {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == xs {
    @media (max-width: 520px) {
      @content;
    }
  }
}
