.btn {
  font-size: 2rem;
  font-weight: bold;
  color: $white;
  text-transform: capitalize;
  background-color: $black-color;
  border-radius: 3px;
  padding-block: 13px;
  width: 184px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: filter 150ms ease;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: $beige-color;
    z-index: -1;
    transition: all 1s;
  }
  &:hover {
    color: white;
    &::before {
      width: 160%;
    }
  }
  &:active {
    filter: brightness(0.8);
  }
  @media (max-width: 767px) {
    width: 150px;
  }
}
// icon-down
.icon-down {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  z-index: 97;
  &:hover {
    background-color: $black-color;
    path {
      fill: $white;
    }
  }
  &:active {
    filter: brightness(0.8);
  }
}
// btn-menu
.btn-menu {
  cursor: pointer;
  width: 120px;
  height: 45px;
  border-radius: 3px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  background: $whit-secandry-color;
  color: $black-color;
  rect {
    fill: $black-color;
  }

  &:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
  }

  .icon {
    position: absolute;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  .text {
    transform: translateX(45px);
  }
  &:hover {
    .icon {
      width: 140px;
    }
    .text {
      transition: all 0.5s;
      opacity: 0;
    }
  }
  &:focus {
    outline: none;
  }
  &:active {
    .icon {
      transform: scale(0.85);
    }
  }
  @media (max-width: 520px) {
    font-size: 16px;
    width: 100px;
    height: 37px;
    .icon {
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .text {
      transform: translateX(38px);
    }
    &:hover {
      .icon {
        width: 112px;
      }
    }
  }
}
